# All files except README.md are associated to @oncbene31 and @quentame 
* @oncleben31 @quentame

# Developers team in HACF-fr are consiereded as codeowners of the README file corresponding to the content of the list.
README.md @hacf-fr/developers
