name: Check static site build
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build static site with MKDocs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: "3.8"
      - run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip install --constraint=.github/workflows/constraints.txt nox
      - run: nox --force-color --session=docs
      - uses: actions/upload-artifact@v4
        with:
          name: docs
          path: site