name: Deploy static site on GitHub Pages
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy with MKDocs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: "3.8"
      - run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip install --constraint=.github/workflows/constraints.txt nox
      - run: nox --force-color --session=docs-deploy -- --force
      - uses: actions/upload-artifact@v3
        with:
          name: docs
          path: site